:root{
    --primary-color: #29335c;
    --light-primary: #3f4f8d;
    --ligthest-color: #e9ebd5;
    --secondary-color: #774936;
    --light-secondary: #b07e64;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

button{
    all: unset;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--ligthest-color);
}

#search-container{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}

header > h2 > i{
    margin-right: 0.5rem;  
}

.movie-name-wrepper{
    width: 65%;
    display: flex;
    align-items: center;  
}

.movie-year-wrepper{
    display: flex;
    align-items: center;
}

.movie-year-wrepper > input{
    max-width: 5rem;
}

.movie-name-wrepper > input{
    width: 100%;
}

.movie-name-wrepper > input, 
.movie-year-wrepper > input{
    margin: 0 0.5rem;
    border-radius: 5px;
    padding: 0.3rem 0.2rem;
    font-weight: bold;
}

.movie-name-wrepper > laber,
.movie-year-wrepper > laber{
    font-weight: bold;
}

#search-button{
    width: 5%;
    all: unset;
    padding: 0.3rem;
    border: 1px solid var(--ligthest-color);
    border-radius: 10px;
}

#search-button:focus,
#search-button:hover{
    background-color: var(--light-primary);
}

main{
    text-align:center;  
    background-color: var(--ligthest-color);
    color: #29335c;
    flex-grow: 1;
}

#movie-list{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;   
   gap: 5rem;   
}

#movie-list article{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

#movie-list article > img{
    border-radius: 10px;
    margin-bottom: 0.3rem;    
}

.remove-button{
    border: 3px solid var(--secondary-color);
    padding: 0.3rem 0;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 2px 2px 10px black;
    color: var(--secondary-color);
}

.remove-button:focus,
.remove-button:hover{
background-color:var(--light-secondary);
color:var(--ligthest-color);
}